#pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    *{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page_select{
        width: 28%;
        .page_container{
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            cursor: pointer;
        p{
            font-size: 12px;
            font-family: "Gotham Pro";
            font-weight: normal;
        }
    }
    }

    #pages_holder{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #on_page{
        width: 28%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        select{
        width: 73px;
        height: 36px;
		border-radius: 8px;
        text-align: center;
        margin-left: 6px;
        font-family: "Gotham Pro";
        font-size: 12px;
        font-weight: normal;

        option{
            font-family: "Gotham Pro";
            font-size: 12px;
            font-weight: normal;
        }
        }
        p{
            font-size: 12px;
            color: #687588;
            font-family: "Gotham Pro";
            font-weight: normal;
        }
    }
}

.selected{
    background-color: #F0F0F7;
}

#page_forward,#page_backward{
    cursor: pointer;
    width: 44px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #D3D3DE;
    display: flex;
    align-items: center;
    justify-content: center;
}
