.active_day {
	background-color: #33d35e;
    cursor: auto;
}

.semi_active_day{
    background-color: #C3FCD2 ;
    cursor: auto;
}

.inactive_day {
	color: #93939b;
	cursor: auto;
}

.day{
    p{
        font-family: "Gotham Pro";
        font-weight: normal;
        font-size: 14px
    }
}