header {
	width: 100%;
	height: 372px;
	background-color: black;
    display: flex;
    flex-direction: column;

	h1 {
		color: white;
		font-size: 60px;
		font-family: "Gotham Pro";
		font-weight: bold;
	}
	p {
		color: #55555c;
		font-size: 14px;
		font-family: "Gotham Pro";
		font-weight: bold;
	}
}

#container1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px;
}

#container2{
    margin-left: 48px;
}

