#date_input {
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	border-color: #D3D3DE;
}

#date_input{
	p{
		font-family: "Gotham Pro";
		font-weight: normal;
		font-size: 16px;
	}

}

#date_input:hover{
	background-color: #F1F4FD;
}

#calendar {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	top: 50%;
	width: 364px;
	height: 482px;
	border-radius: 16px;
	background-color: #f1f4fd;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	padding: 24px;
	position: absolute;
}
#input_holder{
	position: relative;
}
#prompt {
	border-bottom: solid #D3D3DE 1px;
	p{
		font-family: "Manrope";
		font-weight: 700;
		font-size: 20px;
		color: #111827;
		margin-bottom:16px;
	}
}
#month_select{
    display: flex;
    align-items: center;
    justify-content: space-between;

	p{
		font-family: "Manrope";
		font-weight: 600;
		font-size: 16px;
	}
}

#week_days{
	p{
		color: #93939B;
	}
}
#week_days,
#days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}

#days {
    height: 210px;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(7, 1fr);

	div {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
#buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.disabled_input{
	border-color:#E0E0E8;
	pointer-events: none;
	p{
		color: #999999;
	}
}
#close,
#confirm {
	width: 148px;
	height: 53px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
#confirm {
	background-color: #0e0e10;
	color: #f1f4fd;
}
