#tableHeader,#sort{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    select{
        border-radius: 10px;
    }

    #searchDownload{
        height: 100%;
        width: 447px;
        display: flex;
        input{
            height: 100%;
            border-radius: 10px;
        }
    }
}


#download{
    width: 147px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #16B240;
    border-radius: 10px;
    cursor: pointer;
}
#download:hover{
    background-color: #24C14E;
}
#search{
    width: 300px;
    margin-right: 20px;
}


h4{
    font-size: 32px;
    font-family: "Gotham Pro";
    font-weight: bold;
}

