table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}
thead{
    background-color: #F0F0F7;

    #region{
        width: 15%;
    }
    #name,#address{
        width: 29%;
    }
    #eduLevel{
        width: 23%;
    }
    p{
        font-family: "Gotham Pro";
        font-size: 16px;
        color:#55555C;
        font-weight: bold;
    }
}

tbody{
    .region,.name,.address{
        width: 22%;
    p{
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: normal;
    }
}
}

tbody>tr{
    border-bottom:1px solid #D3D3DE ;
}

th,td{
    padding: 0 20px;
    height: 56px;
    .row_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #checkbox{
        display: flex;
        gap: 10px;
    }
}
